<footer class="footer-area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6  col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6 class="footer_title">Overview</h6>
                    <p>我們的網站提供全面的股票回測分析服務，讓您能夠更好地了解股市投資的表現和策略。我們的回測功能包括個股回測、多股回測以及所有股票回測，以滿足不同投資者的需求。
                        <br><br>
                        無論您是新手投資者還是經驗豐富的交易者，我們的回測分析工具都能夠提供寶貴的洞察力和數據支持。透過回測分析，您可以更好地理解過去的市場行情，優化投資策略，並做出更明智的投資決策。不論您是在尋找個股投資機會，還是想要分析多股組合或整個市場，我們的網站將是您的理想選擇。                  
                        </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6 class="footer_title">Contact us</h6>
                    <div class="row">
                        <div class="col-6">
                            <ul class="list_style">
                                <li>資管一乙 楊士霆<li>
                            </ul>
                        </div>
                        <div class="col-4">
                            <ul class="list_style">
                                <li><a href="mailto:C111118223@nkust.edu.tw">C111118223@nkust.edu.tw</a></li>
                            </ul>
                        </div>										
                    </div>	
                    <div class="row">
                        <div class="col-6">
                            <ul class="list_style">
                                <li>資管一乙 王欽弘<li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <ul class="list_style">
                                <li><a href="mailto:C111118223@nkust.edu.tw">C111118233@nkust.edu.tw</a></li>
                            </ul>
                        </div>										
                    </div>	
                    <div class="row">
                        <div class="col-6">
                            <ul class="list_style">
                                <li>資管一乙 洪秉榮<li>
                            </ul>
                        </div>
                        <div class="col-4">
                            <ul class="list_style">
                                <li><a href="mailto:C111118223@nkust.edu.tw">C111118240@nkust.edu.tw</a></li>
                            </ul>
                        </div>										
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <ul class="list_style">
                                <li>資管一乙 詹前淳<li>
                            </ul>
                        </div>
                        <div class="col-4">
                            <ul class="list_style">
                                <li><a href="mailto:C111118223@nkust.edu.tw">C111118243@nkust.edu.tw</a></li>
                            </ul>
                        </div>										
                    </div>							
                </div>
            </div>							 
        <div class="border_line"></div>
        <div class="row footer-bottom d-flex justify-content-between align-items-center">
            <p class="col-lg-8 col-sm-12 footer-text m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            <div class="col-lg-4 col-sm-12 footer-social">
                <a href="https://www.facebook.com/profile.php?id=100003276532805"><i class="fa fa-facebook"></i></a>
                <a href="https://www.instagram.com/ting_0925_/"><i class="fa fa-dribbble"></i></a>
            </div>
        </div>
    </div>
</footer>