{% extends "base/base.html" %}
{% block content %}
<!--================Banner Area =================-->
<section class="banner_area">
    <div class="booking_table d_flex align-items-center" style = "min-height: 450px">
        <!-- <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background="">
        </div> -->
        <div class="container">
            <div class="banner_content text-center">
                <h2>關於我們</h2>
            </div>
        </div>
    </div>
    
</section>

{% endblock %}