{% extends "base/base.html" %}
{% block title %}Team7 股票分析-關於我們{% endblock %}
{% block content %}
<!--================Banner Area =================-->
<section class="banner_area blog_banner d_flex align-items-center" >
    <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background="" style="background:black;"></div>
    <div class="container">
        <div class="banner_content text-center">
            <h4>關於我們 <br />about us</h4>
            <p>there is our self introduction..</p>
        </div>
    </div>
</section>
<!--================Banner Area =================-->
<!--================ Facilities Area  =================-->
<section class="facilities_area section_gap">
    <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background="" style="background:url('../static/image/other/background.jpg');">
    </div>
    <div class="container">
        <div class="section_title text-center">
            <h2 class="title_w">個人自介</h2>
            <p>Who are from National Kaohsiung University of Science and Technology Imformation management deparment.</p>
        </div>
        <div class="row mb_30">
            <div class="col-lg-6 col-md-6">
                <div class="facilities_item">
                    <h4 class="sec_h4"><i class="lnr lnr-dinner"></i>洪秉榮</h4>
                    <p>我是洪秉榮，來自桃園，喜歡聽每個人的故事！很榮幸可以修到這門資料分析課程，可以從學習到資料分析外，也可以接觸網頁設計與資料表的建立等等，很高興能與我們的組員組成團隊，就算我理解上很慢，但他們都有夠carry的啦！
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="facilities_item">
                    <h4 class="sec_h4"><i class="lnr lnr-bicycle"></i>楊士霆</h4>
                    <p>我是楊士霆，來自台中，喜歡唱饒舌、打程式，偶爾跟朋友到處瘋打個球之類的。很開心這次能透過課程，與班上同學一同製作這個專題，蠻好玩的，遇到很多新的事情，也摸透前端後端。最後最後，組員超讚的啦，愛他們。老師也教的超好，愛老師~
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="facilities_item">
                    <h4 class="sec_h4"><i class="lnr lnr-shirt"></i>王欽弘</h4>
                    <p>我是王欽弘，透過這門課程讓我學習到了用python 分析資料以及網頁的後端設計，同時也學到要如何和其他人一起開發一個專案
                    </p><br><br>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="facilities_item">
                    <h4 class="sec_h4"><i class="lnr lnr-car"></i>詹前淳</h4>
                    <p>我是詹前淳，來自新竹，新竹人都是騎貢丸上課的🤪。很開心能修到這門課，讓我學到很多東西，例如網路爬蟲、資料剖析、網頁的前後端等等，也很開心能夠有機會與同學開發一個小專案。
                    </p><br>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ Facilities Area  =================-->
{% endblock %}