{% extends "base/base.html" %}
{% block title %}Team 7 股票分析-首頁{% endblock %}
{% block content %}
<!--================Banner Area =================-->
<section class="banner_area blog_banner d_flex align-items-center">
    <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background="" style="background:black;"></div>
    <div class="container">
        <div class="banner_content text-center">
            <h2>網站首頁</h2>
            <h4>Index</h4>
            <p>there is our index web, we are team 7.<br> our topic is about stock, welcome to this web.</p>
        </div>
    </div>
</section>
<!--================Banner Area =================-->
<!--================ Accomodation Area  =================-->
<section class="testimonial_area section_gap">
    <div class="container">
        <div class="section_title text-center">
            <h2 class="title_color">Python 資料分析 股票網站</h2>
            <p>以下列出本網站的各種功能，歡迎滑動查閱 </p>
        </div>
        <div class="testimonial_slider owl-carousel">
            <div class="media testimonial_item">
                <img class="rounded-circle" src="../static/image/other/1.png" alt="" style = "height:120px; width:120px">
                <div class="media-body">
                    <a href="/backtesting/"><h4 class="sec_h4">個股分析</h4></a>
                    <div class="star">
                        <a href="#"><i class="fa fa-star"></i></a>
                    </div>
                    <p>這裡可讓使用者輸入股票代碼、日期範圍、資金與其策略，藉此生成關於回測後的結果資料分析。</p>
                  </div>
            </div>   
            <div class="media testimonial_item">
              <img class="rounded-circle" src="../static/image/other/2.png" alt="" style = "height:120px; width:120px">
              <div class="media-body">
                  <a href="/moreBacktesting/"><h4 class="sec_h4">多股分析</h4></a>
                  <div class="star">
                      <a href="#"><i class="fa fa-star"></i></a>
                      <a href="#"><i class="fa fa-star"></i></a>
                  </div>
                  <p>這裡可讓使用者輸入日期範圍、資金與其策略，並新增多個股票，進行多股分析。</p>
              </div>
            </div>  
            <div class="media testimonial_item">
              <img class="rounded-circle" src="../static/image/other/3.png" alt="" style = "height:120px; width:120px">
              <div class="media-body">
                  <a href="/stockAnalysis/"><h4 class="sec_h4">所有股分析</h4></a>
                  <div class="star">
                      <a href="#"><i class="fa fa-star"></i></a>
                      <a href="#"><i class="fa fa-star"></i></a>
                      <a href="#"><i class="fa fa-star"></i></a>
                  </div>
                  <p>這裡會顯示所有過去指定資料，所進行回測後，取得的各獲益率比較。</p>
              </div>
            </div>  
        </div>
    </div>
  </section>
<!--================ Accomodation Area  =================-->
{% endblock %}