{% extends "base/base.html" %}
{% block content %}
<!--================Banner Area =================-->
<section class="banner_area">
    <div class="booking_table d_flex align-items-center" style="min-height: 450px">
        <!-- <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background="">
        </div> -->
        <div class="container">
            <div class="banner_content text-center">
                <h2>個股分析</h2>
            </div>
        </div>
    </div>
    <div class="hotel_booking_area position">
        <div class="container">
            <div class="hotel_booking_table">
                <div class="col-md-3">
                    <h2>請輸入<br> 股票代碼</h2>
                </div>
                <div class="col-md-4">
                    <div class="book_tabel_item">
                        <div class="input-group">
                            <input placeholder="請輸入股票代碼" required="required" list="id" name="stock_id" type="text"
                                class="col-sm-12 custom-select custom-select-sm"
                                style="height: 38px; border-color: #2b3146;color:#777; BACKGROUND-COLOR: transparent;;" />
                            <datalist class="wide" id="id">
                                {% for stock in stocks%}
                                <option value="{{stock.stock_id}}">{{stock.name}}</option>
                                {% endfor %}
                            </datalist>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about_history_area section_gap" style="background-color: #F8F8FF;">
    <div class="container">
        <table id="example" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NAME</th>
                    <th>KD_Profit_rate</th>
                    <th>Bisa_Profit_rate</th>
                </tr>
            </thead>
            <tbody>
                {% for detail in details%}
                <tr>
                    <td>{{detail.stock_id}}</td>
                    <td>{{detail.name}}</td>
                    <td>{{detail.kd_profit_rate}}</td>
                    <td>{{detail.bias_profit_rate}}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>ID</th>
                    <th>NAME</th>
                    <th>KD_Profit_rate</th>
                    <th>Bisa_Profit_rate</th>
                </tr>
            </tfoot>
        </table>
    </div>
</section>
{% endblock %}