{% extends "base/base.html" %}
{% block content %}
<!--================Banner Area =================-->
<section class="banner_area">
    <div class="booking_table d_flex align-items-center" style="min-height: 450px">
        <!-- <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background="">
        </div> -->
        <div class="container">
            <div class="banner_content text-center">
                <h2>個股分析</h2>
            </div>
        </div>
    </div>
    <div class="hotel_booking_area position">
        <div class="container">
            <div class="hotel_booking_table">
                <div class="col-md-3">
                    <h2>請輸入<br> 股票代碼</h2>
                </div>
                <div class="col-md-4">
                    <div class="book_tabel_item">
                        <div class="input-group">
                            <input placeholder="請輸入股票代碼" list="id" name="MyArea" type="text" class="col-sm-12 custom-select custom-select-sm" style = "height: 38px; border-color: #2b3146;color:#777; BACKGROUND-COLOR: transparent;;"/>
                            <datalist class="wide" id ="id">
                                {% for stock in stocks%}
                                <option value="{{stock.stock_id}}">{{stock.name}}</option>
                                {% endfor %}
                            </datalist>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}