{% extends "base/base.html" %}
{% block title %}Team 7 股票分析-總股分析{% endblock %}
{% block content %}
<!--================Banner Area =================-->
<section class="banner_area">
    <div class="booking_table d_flex align-items-center" style="min-height: 450px">
        <!-- <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background="">
        </div> -->
        <div class="container">
            <div class="banner_content text-center">
                <h2>總股分析</h2>
            </div>
        </div>
    </div>
</section>
<section class="about_history_area section_gap" style="background-color: #F8F8FF;">
    <div class="booking_table d_flex align-items-center" style="min-height: 200px">
        <div class="container">
            <p style="font-size: 18px;">
                投入資金：{{fund}}<br>
                回測時間：{{sDate}} ~ {{eDate}}<br>
            </p><br><br>
            <div class="banner_content text-center">
                <h2 style = "color:black;">各股回測獲益率比較</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <table id="example" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NAME</th>
                    <th>KD_Profit_rate</th>
                    <th>Bisa_Profit_rate</th>
                </tr>
            </thead>
            <tbody>
                {% for detail in details%}
                <tr>
                    <td>{{detail.stock_id}}</td>
                    <td>{{detail.name}}</td>
                    <td>{{detail.kd_profit_rate}}</td>
                    <td>{{detail.bias_profit_rate}}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>ID</th>
                    <th>NAME</th>
                    <th>KD_Profit_rate</th>
                    <th>Bisa_Profit_rate</th>
                </tr>
            </tfoot>
        </table>
    </div>
</section>
{% endblock %}