<label>所在地（Location）：</label>
<input list="area" name="MyArea" type="text" />
<datalist id="area">
  <option value="基隆市">Keelung City</option>
  <option value="新北市">New Taipei City</option>
  <option value="台北市">Taipei City</option>
  <option value="桃園市">Taoyuan City</option>
  <option value="新竹縣">Hsinchu County</option>
  <option value="新竹市">Hsinchu City</option>
  <option value="苗栗縣">Miaoli County</option>
  <option value="台中市">Taichung City</option>
  <option value="彰化縣">Changhua County</option>
  <option value="南投縣">Nantou County</option>
  <option value="雲林縣">Yunlin County</option>
  <option value="嘉義縣">Chiayi County</option>
  <option value="嘉義市">Chiayi City</option>
  <option value="台南市">Tainan City</option>
  <option value="高雄市">Kaohsiung City</option>
  <option value="屏東縣">Pingtung County</option>
  <option value="宜蘭縣">Yilan County</option>
  <option value="花蓮縣">Hualien County</option>
  <option value="台東縣">Taitung County</option>
  <option value="澎湖縣">Penghu County</option>
  <option value="金門縣">Kinmen County</option>
  <option value="連江縣">Lienchiang County</option>
</datalist>